body {
  font-family: Arial;
  text-align: center;
  margin-top: 60px;
  background: #f4f4f4;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-weight: bold;
}
